body {
  font-family: Montserrat sans-serif;
}

.main {
  height: 100vh;
  background-color: #f1f1f1;

  // @media only screen and (min-width: 768px) {
  //   overflow: hidden;
  // }
  overflow: hidden;

  .row {
    height: 100%;
    .left-side {
      position: relative;
      @media only screen and (max-width: 768px) {
        display: none;
      }

      .login-logo {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 3rem;
      }
      .back-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.9;
      }
    }
    .right-side {
      @media only screen and (max-width: 768px) {
        justify-content: center;
        align-items: center;
      }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 2rem !important;
        // align-items: center;
      }
      h1 {
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          font-size: 2rem;
        }
        @media only screen and (max-width: 768px) {
          text-align: center;
        }
        span {
          font-size: 2.2rem;
          @media only screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: inherit;
          }
        }
      }
      form {
        @media only screen and (max-width: 768px) {
          min-width: 20rem;
        }
        .form-group {
          width: 70%;
          position: relative;
          label {
            color: #252525;
          }
          input {
            box-shadow: none;
            &:focus {
              border: 1px solid #949494;
            }
          }
          .togglePassword {
            display: inline-block;
            position: absolute;
            top: 1.9rem;
            right: 1rem;
            cursor: pointer;
          }
          @media only screen and (max-width: 768px) {
            width: 100%;
          }
        }

        .btn {
          width: 9rem;
          float: right;
          @media only screen and (max-width: 768px) {
            width: 100%;
          }
        }
        p {
          color: #2b2b2b;

          a {
            color: #dc3545;
          }
        }
      }
    }
  }
}

.dashboard {
  .sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #23398a;

    .rightDrop {
      border: 1px solid black;
    }

    &_logo {
      .logo {
        width: 87px;
        height: 47px;
        margin: 1.625rem;
      }
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    &_links {
      a {
        text-decoration: none;
        position: relative;

        .dropdownItems {
          list-style: none;
          // display: inline-block;
          border: 1px solid #d7d7d7;
          margin-bottom: 0;
          padding-left: 0;
          color: black;
          background-color: #eceff2;
          position: absolute;
          top: 0;
          left: 13.13rem;
          width: 16.38rem;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

          li {
            white-space: nowrap;
            border-bottom: 1px solid #d7d7d7;
            padding: 0.8rem 1.4rem;

            &:not(:first-of-type) {
              border-bottom: 1px solid #d7d7d7;
            }

            img {
              margin-right: 0.8rem;
              height: 26px;
              width: 26px;
              object-fit: cover;
            }
          }
        }

        &:not(:last-of-type) {
          border-top: 1px solid rgba(255, 255, 255, 0.2);
        }

        .link {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 1.3rem 1.5rem;
          color: #f5f5f5;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);

          img {
            height: 32px;
            width: 32px;
            object-fit: cover;
          }

          .arrow-icon {
            height: 24px;
            width: 24px;
          }
        }

        &:hover {
          .link {
            transition: all 0.4s;
            background: #4462d0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
  }

  main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 10px;
  }
}

.categories {
  margin-left: 260px; /* Same as the width of the sidenav */
  padding-top: 60px;
  h1 {
    font-size: 32px;
    font-weight: 500;
  }
  .container {
    .modal {
      .modal-header {
        color: white;
        background-color: rgba(35, 57, 138, 1);
        .close-button {
          border: none;
          background-color: transparent;
        }
      }
      .modal-body {
        form {
          .col-form-label::after {
            content: '*';
            color: red;
          }
        }
      }
    }

    .add-button {
      font-size: 16px;
      font-weight: 700;
      width: 120px;
      line-height: 170.23%;
      margin-right: -0.7rem;
      display: flex;
      align-items: center;
      text-align: center;
    }

    table.table-bordered {
      width: 60rem;
      border-left: transparent;
      margin-top: 4rem;
    }

    table.table-bordered > thead > tr {
      border-top: transparent;
    }

    table.table-bordered > tbody {
      border-top: transparent;
    }

    table.table-bordered > tbody > tr > td > button {
      outline: none;
      border: none;
      background-color: transparent;

      img {
        width: 30px;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
      }
    }
  }
}

.operation-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.plus-icon {
  padding-right: 0.5rem;
  padding-left: 0;
  margin: 0;
}
.category-name {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #525653;
}

// .home {
//   overflow: scroll;
// }

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 640px) {...}
// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 768px) {...}
// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 1024px) {...}
// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 1280px) {...}
// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1536px) {...}
