.main {
  height: 100vh;
  background-color: #f1f1f1;

  // @media only screen and (min-width: 768px) {
  //   overflow: hidden;
  // }
  overflow: hidden;

  .row {
    height: 100%;
    .left-side {
      @media only screen and (max-width: 768px) {
        display: none;
      }

      .back-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.9;
      }
    }
    .right-side {
      @media only screen and (max-width: 768px) {
        justify-content: center;
        align-items: center;
      }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 2rem !important;
        // align-items: center;
      }
      h1 {
        @media only screen and (min-width: 768px) and (max-width: 1024px) {
          font-size: 2rem;
        }
        @media only screen and (max-width: 768px) {
          text-align: center;
        }
        span {
          font-size: 2.2rem;
          @media only screen and (min-width: 768px) and (max-width: 1024px) {
            font-size: inherit;
          }
        }
      }
      form {
        @media only screen and (max-width: 768px) {
          min-width: 25rem;
        }
        .form-group {
          width: 70%;
          position: relative;
          label {
            color: #252525;
          }
          input {
            box-shadow: none;
            &:focus {
              border: 1px solid #949494;
            }
          }
          .togglePassword {
            display: inline-block;
            position: absolute;
            top: 1.9rem;
            right: 1rem;
            cursor: pointer;
          }
          @media only screen and (max-width: 768px) {
            width: 100%;
          }
        }
        .btn {
          width: 30%;
          @media only screen and (max-width: 768px) {
            width: 100%;
          }
        }
        p {
          color: #2b2b2b;

          a {
            color: #dc3545;
          }
        }
      }
    }
  }
}

// .home {
//   overflow: scroll;
// }

// /* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 640px) {...}
// /* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 768px) {...}
// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 1024px) {...}
// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 1280px) {...}
// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1536px) {...}
